/* ======================================================================================================================== */
/* 내가 만든 css */
/* tag */
body {
    margin:0;
}
/* ======================================== tag end */

/* class */
.grid {
    display: grid;
}

/* ======================================== class end */

/* id */
#navbar {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a2/Claude_Monet_-_The_Water_Lilies_-_The_Two_Willows_-_Google_Art_Project.jpg");
    background-size: cover;
}
/* ======================================== id end*/

/* media quary */

/* ======================================== media quary end*/

/* ======================================================================================================================== */