/* ======================================================================================================================== 내가 만든 css 시작 */
/* ======================================================================================================================== 태그 시작*/
body {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    gap: 1rem;
    margin: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgb(50, 50, 50);
    color: rgb(205, 205, 205);
}

header {
    display: grid;
    grid-template-columns: 3rem max-content auto max-content;
    border-bottom: 0.1rem solid rgb(173, 139, 115);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    height: 5rem;
}

article {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 0.1rem solid rgb(173, 139, 115);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: grid;
    object-fit: scale-down;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

/* ======================================================================================================================== 태그 끝 */
/* ======================================================================================================================== 낮 모드 토글 시작 */
#checkbox {
    display: none;
}

.day-mode {
    background-color: rgb(250, 250, 250);
    color: rgb(5, 5, 5);
}

.checkbox_label {
    display: grid;
    width: 1.8rem;
    height: 1rem;
    background-color: rgb(255, 251, 233);
    border: 0.1rem solid rgb(173, 139, 115);
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: scale(1.5);
}

.checkbox_ball {
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(173, 139, 115);
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox_label .checkbox_ball {
    transform: translateX(0.6rem);
}

/* ======================================================================================================================== 낮 모드 토글 끝*/
/* ======================================================================================================================== 프로필 시작*/
#profile {
    display: grid;
    grid-template-columns: 15rem max-content;
    grid-template-rows: 10rem 10rem;
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

#ProfileImage {
    object-fit: cover;
    border: 0;
    border-radius: 10%;
    width: 10rem;
    height: auto;
}

#hello {
    align-self: flex-start;
}

/* ======================================================================================================================== 프로필 끝*/
/* ======================================================================================================================== 내비게이션 바 시작 */
#NavigationBar {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, max-content);
    gap: 1rem;
}

/* ======================================================================================================================== 내비게이션 바 끝 */
/* ======================================================================================================================== 글목록 시작*/
#board {
    display: grid;
    height: 100px;
    width: 500px;
    overflow-y: scroll;
}

/* ======================================================================================================================== 글목록 끝*/
/* ======================================================================================================================== media quary 시작 */
/* ======================================================================================================================== media quary 끝*/
/* ======================================================================================================================== 내가 만든 css 끝 */